<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RGAttendanceService_V00</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/StyleSheetBackGround.css" />
    <link rel="stylesheet" href="~/css/CheckBoxStyle.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">RGAttendanceService_V00</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-page="/AttendanceCheckUp">Sprawdź obecność</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle text-dark nav-link" data-toggle="dropdown" href="#">Uczestnik</a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <a class="nav-link text-dark textdarkk" asp-area="" asp-page="/ParticipantManage/CreateParticipant">Dodaj</a>
                                <a class="nav-link text-dark textdarkk" asp-area="" asp-page="/ParticipantManage/ParticipantsList">Wyświetl</a>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle text-dark nav-link" data-toggle="dropdown" href="#">Grupa</a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <a class="nav-link text-dark textdarkk" asp-area="" asp-page="/GroupManage/CreateGroup">Dodaj</a>
                                <a class="nav-link text-dark textdarkk" asp-area="" asp-page="/GroupManage/GroupsList">Wyświetl</a>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle text-dark nav-link" data-toggle="dropdown" href="#">Trener</a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <a class="nav-link text-dark textdarkk" asp-area="" asp-page="/CoachManage/CreateCoach">Dodaj</a>
                                <a class="nav-link text-dark textdarkk" asp-area="" asp-page="/CoachManage/CoachesList">Wyświetl</a>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - RGAttendanceService_V00 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
