@page
@model RGAttendanceService_V00.Pages.RGControl.RGCoach.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Dodaj</h1>

<h4>Trenera</h4>
<hr />
<div class="row">
    <div class="container">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-3">
                <div class="form-group col-sm-4">
                    <label asp-for="Coach.FirstName" class="control-label"></label>
                    <input asp-for="Coach.FirstName" class="form-control" />
                    <span asp-validation-for="Coach.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Coach.LastName" class="control-label"></label>
                    <input asp-for="Coach.LastName" class="form-control" />
                    <span asp-validation-for="Coach.LastName" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Coach.Age" class="control-label"></label>
                    <input asp-for="Coach.Age" class="form-control" />
                    <span asp-validation-for="Coach.Age" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <input type="submit" value="Create" class="btn btn-primary submitButtonCustom" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" class="submitButtonCustom">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
